* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F5F5F5;
}

.hero{
    margin: 1rem 0;
}

.hero h1 {
    /* color: white; */
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    line-height: 2rem;
}

